@font-face {
  font-family: "BrahmsGotischCyr";
  src: url("BrahmsGotischCyr.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DreiFraktur";
  src: url("DreiFraktur.ttf") format("truetype");
  font-weight: normal;
  font-size: normal;
}
@font-face {
  font-family: "Fortuna Gothic FlorishC";
  src: url("Fortuna Gothic FlorishC.ttf") format("truetype");
  font-weight: normal;
  font-size: normal;
}
@font-face {
  font-family: "KHTitle";
  src: url("KHTitle.otf") format("opentype");
  font-weight: normal;
  font-size: normal;
}

/* Загальні стилі */
* {
  box-sizing: border-box;
}

body {
  background-color: #060a10;
  color: #e2e2e2;
  font-family: "BrahmsGotischCyr", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
button {
  font-family: "BrahmsGotischCyr", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Навігаційна панель */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #060a10;
  width: 100%;
  height: 15vh;
  margin: 0 auto;
}
.navbar ul li {
  transition: transform 0.35s;
}
.navbar ul li:hover {
  transform: scale(1.5);
  transition: 0.35s;
}
.navbar img {
  width: 120px;
  height: auto;
  margin: 0 50px;
}
.navbar ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar ul li {
  margin: 0 50px;
}
.navbar ul li a {
  text-decoration: none;
  color: #bfc0be;
  font-size: 26px;
  transition: color 0.3s ease;
}
.navbar ul li a:hover {
  color: #87a210;
}
.navbar ul li {
  display: inline;
}
.menu-text-first_page {
  text-decoration: underline;
}

/* Заголовок */
header {
  text-align: center;
  position: relative;
}
header img {
  max-width: 100%;
  height: auto;
}
header h1 {
  color: #989e80;
  font-family: "KHTitle";
  font-size: 70px;
  position: absolute;
  bottom: 100px;
  left: 100px;
}

/* Секції */
section {
  margin: 0 auto;
}

.section-title {
  color: #87a210;
  font-family: "Fortuna Gothic FlorishC";
  font-size: 50px;
  margin-bottom: 25px;
}

.about {
  display: flex;
  align-items: center;
  gap: 20px;
  color: rgba(127, 136, 88, 1);
}
.about div {
  padding-left: 50px;
}
.about p {
  color: #7f8858;
  font-size: 23px;
}
.about img {
  width: 50%;
  height: auto;
}

.services {
  text-align: center;
  padding: 20px;
  background-color: #060d15;
}
.services h2 {
  font-family: "Fortuna Gothic FlorishC";
}
.services h3 {
  font-family: "BrahmsGotischCyr";
}
.services-title {
  font-size: 2.5rem;
  color: #87a210;
  margin-bottom: 20px;
}

.services-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.service {
  padding: 15px;
  width: 30%;
  text-align: center;
}

.service h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #e2e2e2;
}

.service p {
  font-size: 1rem;
  line-height: 1.5;
  color: #bfc0be;
}

/* Переваги */
.benefits {
  background-color: #050209;
  display: flex;
  align-items: center;
  gap: 20px;
}
.benefits img {
  width: 40%;
  height: auto;
}
.benefits ul {
  list-style-type: disc;
  padding-left: 30px;
}
.benefits li {
  margin: 10px 0;
  color: #989e80;
  font-size: 23px;
}
.list2 ul {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.list2 ul li {
  list-style-type: none;
  color: #d0d0d0;
}

.footer-contact_info {
  color: #87a210;
}

.footer-p {
  color: #a5a59b;
}
footer {
  background-color: #060a10;
}
footer .row .col-md-4:last-child {
  display: inline-block;
  justify-content: center;
}
footer .row .col-md-4:first-child {
  padding-left: 100px;
}
footer .row .col-md-4 h4,
p {
  display: flex;
  justify-content: center;
}
footer img {
  width: 150px;
  height: auto;
}
footer {
  margin-top: 30px;
  margin-bottom: 30px;
}

.button-join-us {
  background-color: #060a10;
  border: 1px solid #828282;
  border-radius: 5px;
  color: white;
  font-family: "BrahmsGotischCyr", sans-serif;
  padding: 10px 30px;
  height: 50px;
  margin: auto auto;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
.button-join-us:hover {
  transform: scale(1.1);
  background-color: #e97451;
}
/* Медійні запити */
@media (max-width: 769px) {
  body {
    width: 95%;
    margin: auto;
  }
  .navbar {
    height: 10vh;
    width: 90%;
  }
  .navbar img {
    width: 100px;
    margin: 0 20px;
  }
  .navbar ul li {
    margin: 0 20px;
  }
  .navbar ul li a {
    font-size: 20px;
  }

  header h1 {
    font-size: 40px;
    bottom: 80px;
    left: 80px;
  }

  .section-title {
    font-size: 33px;
    margin-bottom: 20px;
  }
  .about {
    gap: 20px;
    color: rgba(127, 136, 88, 1);
  }
  .about div {
    padding-left: 90px;
  }
  .about p {
    color: #7f8858;
    font-size: 18px;
  }
  .about img {
    width: 50%;
    height: auto;
  }

  .services-title {
    font-size: 2rem;
  }
  .service h3 {
    font-size: 1.25rem;
  }
  .service p {
    font-size: 0.8rem;
  }

  .benefits img {
    width: 30%;
    height: auto;
  }
  .benefits ul {
    padding-left: 30px;
    padding-right: 50px;
  }
  .benefits li {
    margin: 10px 0;
    font-size: 18px;
  }
  .list2 ul {
    gap: 10px;
  }

  footer .row .col-md-4:last-child {
    display: flex;
    justify-content: center;
  }
  footer .row .col-md-4:first-child {
    padding-left: 50px;
  }
  footer .row .col-md-4 h4,
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  footer img {
    width: 160px;
    height: auto;
  }
  footer {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .button-join-us {
    padding: 15px 22px;
    font-size: 20px;
    margin-right: 40px;
  }
  .button-join-us {
    font-size: 16px;
  }
}

@media (max-width: 481px) {
  body {
    width: 95%;
    margin: auto;
  }
  .navbar {
    width: 100%;
  }
  .navbar img {
    width: 45px;
    margin: 0 10px;
  }
  .navbar ul li {
    margin: 0 10px;
  }
  .navbar ul li a {
    font-size: 12px;
  }

  header h1 {
    font-size: 20px;
    bottom: 30px;
    left: 30px;
  }

  .section-title {
    font-size: 18px;
    margin-bottom: 18px;
  }
  .about {
    gap: 20px;
    color: rgba(127, 136, 88, 1);
    padding-left: 15px;
  }
  .about div {
    padding-left: 18px;
  }
  .about p {
    color: #7f8858;
    font-size: 10px;
  }

  .about img {
    width: 50%;
    height: auto;
  }

  .services-container {
    flex-direction: column;
    align-items: center;
  }
  .service {
    width: 80%;
    padding: 0px;
  }
  .services-title {
    font-size: 2rem;
  }
  .service h3 {
    font-size: 1.25rem;
  }
  .service p {
    font-size: 0.9rem;
  }

  .benefits img {
    width: 0%;
    height: auto;
  }
  .benefits ul {
    margin: auto;
  }
  .benefits li {
    margin: 10px 0;
    font-size: 18px;
  }
  .list2 ul {
    display: block;
  }
  .list2 ul li {
    width: 100%;
  }

  footer .row .col-md-4:last-child {
    display: flex;
    justify-content: center;
  }
  footer .row .col-md-4:first-child {
    padding-left: 20px;
    margin-top: 30px;
  }
  footer .row .col-md-4 h4,
  p {
    display: flex;
    justify-content: center;
  }
  footer img {
    width: 80px;
    height: auto;
  }
  footer .row .col-md-4 {
    max-width: 33.333%;
  }
  .button-join-us {
    padding: 5px 5px;
    font-size: 8px;
    height: 30px;
    margin-right: 19px;
  }
  .footer-p {
    font-size: 9px;
  }
  .footer-contact_info {
    font-size: 14px;
  }
  footer {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
