
body {
  background-color: #101010;
  color: #e2e2e2;
  overflow-x: hidden;
}
.section-title {
  color: #c7ff00;
  font-size: 1.8em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "BrahmsGotischCyr";
}
.about-text {
  margin-bottom: 30px;
}

.service-box h4{
  margin-bottom: 20px;
  font-family: "BrahmsGotischCyr";
}
.contact-info {
  color: #c7ff00;
}

@font-face {
  font-family: "BrahmsGotischCyr";
  src: url("BrahmsGotischCyr.otf") format("opentype");
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: "DreiFraktur";
  src: url("DreiFraktur.ttf") format("truetype");
  font-weight: normal;
  font-size: normal;
}
@font-face {
  font-family: "Fortuna Gothic FlorishC";
  src: url("Fortuna Gothic FlorishC.ttf") format("truetype");
  font-weight: normal;
  font-size: normal;
}
@font-face {
  font-family: "KHTitle";
  src: url("KHTitle.otf") format("opentype");
  font-weight: normal;
  font-size: normal;
}
body {
  font-family: "KHTitle";
}
.navbar {
  height: 13vh;
  font-size: 3vh;
  background-color: rgba(6, 10, 16, 1);
  font-family: "KHTitle";
}
.navbar ul {
  margin: auto;
}
.navbar ul li {
  margin-left: 75px;
  margin-right: 75px;
}
.navbar ul li img {
  height: 60px;
  max-height: 10vh;
}
.navbar-nav .nav-link {
  color: rgba(191, 192, 190, 1);
}

header {
  position: relative;
}
header img {
  width: 100%;
  height: auto;
}
header h1 {
  position: absolute;
  bottom: 10vh;
  left: 12vh;
}

.main-text-green {
  color: #87a210;
}

.lozung {
  list-style-type: none;
  margin: auto;
  padding: 0;
}
.lozung li {
  display: inline-block;
  margin-right: 20px;
  color: #D0D0D0;
  font-size: 28px;
  font-family: "BrahmsGotischCyr";
}


/* ------------------------------------------------------- CHANGE -------------------------------------------------------*/
.menu-text-first_page {
  font-family: "BrahmsGotischCyr", sans-serif;
  display: inline-block; 
  transition: transform 0.35s, color 0.35s;
}
.menu-text-first_page:hover {
  font-family: "BrahmsGotischCyr", sans-serif;
    color: #87A210;
    transform: scale(1.5); 
    transition: 0.35s;
}

.layout-fellguard-text {
  width: 1106px;
  height: 185px;
  top: 737px;
  left: 119px;
  gap: 0px;
  opacity: 0px;

}
.header-fellguard-text {
  position: absolute;
  bottom: 300px;

  font-family: "KHTitle";
  font-size: 128px;
  font-weight: 400;
  line-height: 166.4px;
  text-align: left;
  text-decoration-skip-ink: none;



  color: #989E80;
  
}



.custom-text {
  text-align: left; 
  padding-right: 20px; 
}

.custom-image {
  text-align: right; 
}

.section-title {
  color: #87A210;
  font-size: 64px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "BrahmsGotischCyr", sans-serif;
}
.section-p-text {
  font-size: 24px;
  font-family: "BrahmsGotischCyr", sans-serif;
  color: #7F8858;
}
.bottom-top_margin {
  margin-bottom: 100px;
  margin-top: 100px;
}
.section-title-2 {
  color: #989E80;
  font-size: 46px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "BrahmsGotischCyr", sans-serif;
}
.section-p-text-2 {
  font-size: 24px;
  font-family: "BrahmsGotischCyr", sans-serif;
  color: #EEEE;
}


.section-title-ul {
  text-align: left;
  font-size: 24px; 
  font-family: "BrahmsGotischCyr", sans-serif; 
  color: #989E80;
}

.section-title-3 {
  color: #989E80;
  font-size: 50px;
  font-family: "BrahmsGotischCyr", sans-serif;
  position: relative;
  text-align: left;
}
.section-title-ptext-3{
  color: white;
  margin-left: auto auto;
  margin-right: 100px;
  margin-bottom: 20px;
}
.highlight-year {
  color: #7F8858;
  font-size: 28px;
}


.page2-futurePlans {
  background-color: #384143;
}
.future-plans-title {
  color: #989E80;
  font-size: 40px;
  font-family: 'BrahmsGotischCyr', sans-serif;
  margin-bottom: 20px;
  margin-left: 40px;
}

.future-plans-description {
  color: #B3B3B3;
  font-size: 30px;
  font-family: 'BrahmsGotischCyr', sans-serif;
  margin-bottom: 40px;
  margin-left: 40px;
}

.future-plans-details h2 {
  color: #DEDEDE;
  font-size: 26px;
  font-family: 'BrahmsGotischCyr', sans-serif;
}

.future-plans-details ul {
  color: #DEDEDE;
  font-size: 22px;
  font-family: 'BrahmsGotischCyr', sans-serif;
  padding-left: 20px; 
}


.section-title-ptext-4{
  margin-left: 50px;
  
  margin-right: 100px;
  margin-bottom: 20px;
}
.na_golovnu-page2 {
  color: #BFC0BE;  /*BFC0BE*/
  font-size: 18px; 
  font-family: 10px
  'BrahmsGotischCyr', sans-serif; 
  text-decoration: none;
  text-decoration-line: none;  
}
.na_golovnu-page2_button {
  padding: -400px;
  position: relative;
  left: 50px;
  margin-bottom: 30px;
  background-color: #384143; 
  color: #BFC0BE; 
  font-family: "BrahmsGotischCyr", sans-serif;
  border: none; 
  border-radius: 5px; 
  font-size: 20px; 
  cursor: pointer; 
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
.na_golovnu-page2_button:hover {
  transform: scale(1.1); 
  background-color: green; 
}


.page3-best_guards-p {
  color: white;
}

/* css для форми (на сторінці 4)*/

.page4-form {
  margin-top: -100px;
  width: 190%;
  display: flex;
  flex-direction: column; 
  align-items: stretch; 
  width: auto; 
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.page4-form form {
  width: 100%; 
}

.page4-form form div {
  margin-bottom: 15px;
}

.page4-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.page4-form button {
  width: 100%; 
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  color: black; 
  background-color: #D5D5D5;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;
}

.page4-form button:hover {
  background-color: #0056b3; 
  color: white; 
}




.footer-contact_info {
  color:  #87A210;
  font-size: 32px;
}

.footer-p {
  color: #A5A59B;
  font-size: 28px;
  font-family: "BrahmsGotischCyr", sans-serif;
  text-align: center;
}




.button-join-us {
  position: relative;
  top: 100px;


  background-color: #333333; 
  color: white; 
  font-family: "BrahmsGotischCyr", sans-serif;
  padding: 20px 30px; 
  border: none; 
  border-radius: 5px; 
  font-size: 20px; 
  cursor: pointer; 
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease; 
}


.button-join-us:hover {
  transform: scale(1.1); 
  background-color: #E97451; 
}


.career-section {
  background-color: #D5D5D5;
  height: 500px;
  padding-top: 30px;
}

.career-title {
  color: #87A210;
  font-size: 50px;
  font-family: "BrahmsGotischCyr", sans-serif;
  margin-bottom: 20px;
  margin-left: 30px;
}

.career-subtitle {
  color: #7F8858;
  font-size: 40px;
  font-family: "BrahmsGotischCyr", sans-serif;
  margin-bottom: 20px;
  margin-left: 30px;
}

.career-description {
  color: #161A37;
  font-size: 28px;
  font-family: "BrahmsGotischCyr", sans-serif;
  padding-left: 30px;
  margin-top: 30px;
  width: 70%;
}

.page4-main_section {
  background-color: white; 
  padding-bottom: 50px;
}

.hochesh_do_nas {
  color: #87A210; font-size: 40px; font-family: 'BrahmsGotischCyr', sans-serif;
}

.zapovnui-formu {
  color: #A5A59B; 
  font-size: 30px; 
  font-family: 'BrahmsGotischCyr', sans-serif;
   width: 40%; margin-top: 30px;
}




/* =============================================================== АДАПТИВ ========================================================= */
/* для планшетів (max-width: 768px) */
@media screen and (max-width: 769px) {
  body {
    font-size: 90%; 
    overflow-x: hidden;
  }

  .container {
    width: 80%; 
  }

  .section-title {font-size: 2.6rem; width: 120%;}

  .na_golovnu-page2_button {margin-left: 190px; margin-top: 60px;}
  .section-title-3 {font-size: 2.5rem;}
  
  .section-title-2,
  .section-title-4 {
    font-size: 1.8rem; 
  }
  .section-title-ptext-3 {font-size: 1.0rem;}


  .future-plans-title {font-size: 2.5rem;}
  .future-plans-description {font-size: 1.7rem;}
  .future-plans-details {margin-left: 42px; }
  .future-plans-details ul li {font-size: 1.3rem;}

  .footer-contact_info {font-size: 1.5rem; margin-top: 30px;}
  .footer-p {font-size: 1.0rem; text-align: left; margin-left: 7px;}
  .page2-img-footer {width: 10rem; margin-top: 40px;}
  .button-join-us {
    position: relative;
    top: 90px;
    background-color: #333333; 
    color: white; 
    font-family: "BrahmsGotischCyr", sans-serif;
    padding: 5px 15px; 
    border: none; 
    border-radius: 5px; 
    font-size: 18px; 
    cursor: pointer; 
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease; 
  }
  .button-join-us:hover {
    transform: scale(1.1); 
    background-color: #E97451; 
  }


  .navbar-nav {
    font-size: 0.3rem;
  }

  .service-box {
    padding: 10px; 
  }

  .custom-image img {
    max-width: 90%;
    height: auto;
  }

  .section-p-text-2 {
    font-size: 1.2rem; width: 110%;
    
  }

}

/* для телефонів (max-width: 375px) */
@media screen and (max-width: 376px) {
  body {
    font-size: 40%; 
    overflow-x: hidden;
  }

  .container {
    width: 80%; 
  }

  .section-title {font-size: 1.4rem; width: 60%;}
  .section-title-2 {font-size: 1.0rem;}
  .section-title-3 {font-size: 1.4rem; margin-left: 50px; width: 50%;}
  .section-title-4 {
    font-size: 1.8rem;
  }
  .section-p-text-2 {
    font-size: 0.9rem; width: 50%;
    
  }
  .section-title-ptext-2 {font-size: 0.3rem;}
  .custom-image img {
    width: 60%;
    margin-top: -500px;
    margin-right: -40px;
  }

  .section-title-ptext-3 {font-size: 0.9rem; width: 96%;}
  .highlight-year{font-size: 1.0rem;}

  .future-plans-title {font-size: 1.26rem; margin-bottom: 14px; padding-top: 10px; margin-left: 18px;}
  .future-plans-description {font-size: 1.1rem; margin-left: 18px; margin-bottom: 10px;}
  .future-plans-details {font-size: 1.07rem; margin-left: 18px;}
  .future-plans-details ul {width: 90%;}
  .future-plans-details h2 {font-size: 1.07rem;}
  .future-plans-details ul li {font-size: 1.07rem; margin-left: 18px;}

  .na_golovnu-page2 {font-size: 10px; }
  .na_golovnu-page2_button {
    padding: -400px;
    position: relative;
    left: 50px;
    margin-bottom: 30px;
    background-color: #384143; 
    color: #BFC0BE; 
    font-family: "BrahmsGotischCyr", sans-serif;
    border: none; 
    border-radius: 5px; 
    font-size: 18px; 
    cursor: pointer; 
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    margin-left: 170px;
  }
  .na_golovnu-page2_button:hover {
    transform: scale(1.1); 
    background-color: green; 
  }

  
  .footer-contact_info {font-size: 1.0rem; margin-top: -100px; margin-left: 120px; position: absolute; }
  .footer-p {font-size: 0.8rem; text-align: left; margin-left: 120px; margin-top: -60px;}
  .page2-img-footer {width: 4rem; margin-top: 40px; margin-left: -270px;}
  .button-join-us {
    position: relative;
    top: -120px;
    left: 140px;
    background-color: #333333; 
    color: white; 
    font-family: "BrahmsGotischCyr", sans-serif;     
    border: none; 
    border-radius: 5px; 
    width: 20%;
    font-size: 10px; 
    cursor: pointer; 
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease; 
  }
  .button-join-us:hover {
    transform: scale(1.1); 
    background-color: #E97451; 
  }

  .navbar ul li a:hover {
    font-family: "BrahmsGotischCyr", sans-serif;
    color: #87A210;
    transform: scale(1.5); 
    transition: 0.35s;
  }

  .service-box {
    padding: 10px; 
  }

}





@media screen and (max-width: 769px) {
  body {
    overflow-x: hidden;
  }


  .page4-nav-img {
    width: 30%;
    max-width: 100%;
  }

  .career-section {
    background-color: #D5D5D5;
    height: 500px;
    padding-top: 30px;
    width: 100%;
  }
  
  .career-title {
    color: #87A210;
    font-size: 40px;
    font-family: "BrahmsGotischCyr", sans-serif;
    margin-bottom: 20px;
    margin-left: 30px;
  }
  
  .career-subtitle {
    color: #7F8858;
    font-size: 30px;
    font-family: "BrahmsGotischCyr", sans-serif;
    margin-bottom: 20px;
    margin-left: 30px;
  }
  
  .career-description {
    color: #161A37;
    font-size: 20px;
    font-family: "BrahmsGotischCyr", sans-serif;
    padding-left: 30px;
    margin-top: 30px;
    width: 90%;
  }

  .hochesh_do_nas {
    margin-left: -200px;
    font-size: 1.8rem;
  }
  .zapovnui-formu {
    margin-left: -200px;
    font-size: 1.4rem;
  }
  .page4-form {
    margin-left: -100px;
  }

  .na_golovnu-page2_button {
    left: -150px;
  }

.page4-img-footer {
  width: 70%;
  margin-top: 20px;
}

}

